---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import MediaDevelopment from "../components/MediaDevelopment.astro";
import VideoDevelopment from "../components/VideoDevelopment.astro";
import CurriculumDevelopment from "../components/CurriculumDevelopment.astro";
import GraphicDesign from "../components/GraphicDesign.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Admin from "../components/Admin.astro";
import Education from "../components/education.astro";
import Intern from "../components/Intern.astro";
import Talkit from "../components/Talkpage.astro";
---

<Layout title="Haliza Arini - Portfolio">
  <main class="bg-gray-900 text-white">
    <Hero />
    <Admin />
    <About />
    <Education />
    <Experience />
    <Talkit />
    <Intern />
    <MediaDevelopment />
    <VideoDevelopment />
    <CurriculumDevelopment />
    <GraphicDesign />
    <Projects />
    <Contact />
  </main>
</Layout>
