<section id="about" class="py-20 bg-gray-800 overflow-hidden">
  <div class="container mx-auto px-4 sm:px-6 w-full">
    <h2
      class="text-3xl sm:text-4xl font-bold mb-10 text-orange-500 sm:text-left"
    >
      BIOGRAPHY
    </h2>
    <div class="grid md:grid-cols-2 gap-10 sm:gap-12 items-center">
      <div class="space-y-5">
        <p
          class="text-gray-300 max-w-xs sm:max-w-prose sm:text-left leading-relaxed"
        >
          Saya merupakan mahasiswa semester 5 Program Studi Teknologi Pendidikan
          di Universitas Negeri Semarang. Saya memiliki keahlian dalam media
          learning dan memiliki pengalaman dalam membuat konten pembelajaran,
          learning management system, dan media learning. Saya juga memiliki
          ketertarikan dalam pengembangan media di bidang Digital Learning.
        </p>
        <div>
          <h3 class="text-xl sm:text-2xl font-semibold mb-4 sm:text-left">
            Skill & Interest
          </h3>
          <ul
            class="list-disc list-inside text-gray-300 sm:text-left space-y-1"
          >
            <li>Media Development</li>
            <li>Media Learning</li>
            <li>E-Learning</li>
            <li>Content Creator</li>
            <li>Social Media</li>
            <li>Digital Learning</li>
            <li>Graphic Design/Visual</li>
          </ul>
        </div>
      </div>
      <div>
        <img
          src="/profile.jpg"
          alt="Haliza Arini"
          class="rounded-lg shadow-xl mx-auto"
          width="400"
          height="500"
        />
      </div>
    </div>
  </div>
</section>
